* {
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab );
	background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

.button{
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-family: Verdana, sans-serif;
  margin: 2px;
  cursor: pointer;

  background: rgb(92, 92, 92);
  color: white;

  border: none;
}



.button:hover{
  background: gray;
  transform: scale(1.25, 1.25);
}

.textview{
  width: 203px;
  margin: 5px;
  font-size: 25px;
  padding: 5px;
}